fastapi
uvicorn
jinja2
pydantic
httpx
numpy
opencv-python
insightface
onnxruntime
langchain-core
langchain-ollama
langgraph
langchain
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
kokoro
sounddevice
dateparser
faster-whisper
pyaudio
